/* Web Fonts -------------------- */

/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

body {
  color: #4d4c4c;
  background: azure;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

main {
  margin: 0 auto;
  width: 90%;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2.4rem;
  margin: 0 .125em;
  padding-top: 2.3125em;
  color: white;
  text-shadow: 1px 3px 1px rgba(0,0,0,.4);
}

h2 {
  font-size: 1.3125rem;
}

h3 {
  
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

img {
  width: 100%;
}

hr {
  margin-top: 1.625em;
}


/* Links, Pseudo-classes, Transitions, Transforms ------------------ */

a:link {
  text-decoration: none;
}

/* a:visited {
  color: rgb(127, 194, 216);
} */

a:hover {
  color: rgb(164, 128, 238);
  border: 1px solid rgba(133, 81, 236, 0.5);
}

a:active {
  color: rgb(131, 147, 236);
}

.menu a {
  color: white;
  transition: text-shadow .2s linear;
  font-size: .9rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.menu a:hover {
  border: none;
  color: rgb(128, 240, 255);
  text-shadow: 1px 1px 2px rgba(0,0,0,.4);
}

.callout {
  color: rgb(79, 1, 204);
  font-weight: 600;
  padding: .6125em;
  transition: border 1s ease-out;
}

/* Background Images */

.banner {
  height: 16em;
  background: linear-gradient(rgb(39, 161, 202), rgb(12, 12, 187)),
  url('../images/city.jpg') no-repeat center;
  background-size: cover;
  background-blend-mode: soft-light;
}

.mlk {
  height: 16em;
  background: 
  url('../images/mlk.jpg') no-repeat center;
  background-size: cover;
}

.racetrack {
  height: 16em;
  background: linear-gradient(rgb(255, 255, 104), orange), url('../images/indy-500.jpg') no-repeat center;
  background-size: cover;
  background-blend-mode: saturation;
}

.hotels {
  height: 16em;
  background: 
  url('../images/skyline.jpg') no-repeat center;
  background-size: cover;
}

.brochure {
  height: 16em;
  background: 
  url('../images/colts.jpg') no-repeat center;
  background-size: cover;
}

/* Main Styles --------------------- */

.main-header {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  background-color: rgb(6, 6, 95);
  padding: 0;
  margin-top: 0;
}

.menu li {
  color: white;
  list-style: none;
  padding-top: .8em;
  padding-bottom: .8em;
  flex-grow: 1;
}

.main-footer {
  border-top: 2px solid rgba(0,0,0,.4);
  display: flex;
  justify-content: space-around;
  background: rgb(6, 6, 95);
}

.main-footer p,
.main-footer a {
  font-size: .9rem;
  font-weight: 600;
  color: #fff;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.indy-flex-1,
.indy-flex-2 {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-bottom: 1em;
}

.indy-flex-1 p {
text-align: left;
font-size: .8em;
}

.indy-flex-2 p {
  text-align: right;
  font-size: .8em;
}

/* activities.html Styles ------------------ */

.activities-nav {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.activities-nav li {
  color: white;
  margin-bottom: .3125em;
  padding: .625em;
  border-radius: .3125em;

}

.activities-nav li:first-child {
  background: radial-gradient( blue, rgb(255, 247, 247));
}

.activities-nav li:nth-child(2) {
  background: linear-gradient(45deg, gold, navy);
}

.activities-nav li:nth-of-type(3) {
  background: linear-gradient(45deg, rgb(230, 229, 229), black);
}

  
/* Layout Styles ------------------ */

.primary-content, 
.secondary-content {
  
}

/* Form Styles */

.forms {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
  text-align: left;
}

/* Table Styles */

caption {
  font-size: 1.3125rem;
  font-weight: 600;
  padding: 1em;
}

table {
  max-width: 60em;
  margin: 0 auto;
}

thead > tr {
  background: rgb(124, 206, 209);
}

th[scope="col"] {
  font-size: 1.125em;
}

th {
  font-size: .9em;
  padding: .3125em;
} 

td[colspan="3"] {
  font-style: italic;
}

tr > td {
  font-size: .8em;
  padding: .3125em;
}

tr {
  height: 3em;
  background: rgb(223, 222, 222);
}

tr:nth-child(2n+2) {
  background: lightblue;
}

/* Image Gallery Styles */

/* Float Clearfix ------------------ */

/* .resorts,
.tips {
  width: 46.5%;
 
}
  
.resorts {
  float: left;
  }
  
.tips {
  float: right;
  }
  
.group:after {
  content: "";
  display: table;
  clear: both;
} */

/* Media Queries -------------------- */

@media screen and (min-width: 768px)

  {
    /* .main-header {
      padding-top: 1em;
      height: 30em;
    } */
  }

@media screen and (min-width: 1024px)

  {
    /* .main-header { 
      padding-top: 120px;
      height: 850px;
    } */
  }