/* Web Fonts -------------------- */

/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

body {
  color: #878787;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', serif;
  text-align: center;
}

main {
  margin: 0 auto;
  width: 90%;
}

h1 {
  margin: 0;
  padding: 1em;
  color: white;
  text-shadow: 1px 3px 1px rgba(0,0,0,.4);
}


h2 {
  
}

h3 {
  
}

p {
  
}

img {
  width: 100%;
}

.arrow {
  
}

.indy500 {
    
}

.monument {
}

ul,
ol {
  
}


li {
  
}


/* Pseudo-classes ------------------ */

a:link {
  color: rgb(98, 0, 255);
  text-decoration: none;
}


a:visited {
  color: lightblue;
}


a:hover {
  color: rgba(198, 167, 255, 0.4);
}

a:active {
  color: rgb(131, 147, 236);
}


/* Main Styles --------------------- */

.main-header {
  height: 9em;
  background: 
  url('../images/city.jpg') no-repeat center;
  background-size: cover;
}

.title {
  color: white;
  
}

.menu {
  display: flex;
  justify-content: space-around;
  background-color: darkblue;
  padding: .625em 0 .625em 0;
  margin-top: 0;
}

.menu li {
  color: white;
  align-items: center;
  list-style: none;
  
}

.menu a {
  color: white;
  font-size: ;
  padding: 10px 10px;
}

.intro {
 
}

.primary-content,
.main-header,
.main-footer {
 
}

.primary-content {
	
}

.secondary-content {
	
}

.callout {
   font: normal 1.5em/1.5 Arial;
}

.main-footer {
  
}

.t-border {
    
  }
  
/* Layout Styles ------------------ */

.primary-content, 
.secondary-content {
  
}

.parks {
  
  background: url('../images/parks.jpg') no-repeat center;
  background-size: cover;
}


/* Float Clearfix ------------------ */

/* .resorts,
.tips {
  width: 46.5%;
 
}
  
.resorts {
  float: left;
  }
  
.tips {
  float: right;
  }
  
.group:after {
  content: "";
  display: table;
  clear: both;
} */

/* Media Queries -------------------- */

@media screen and (min-width: 768px)

  {
    /* .main-header {
      padding-top: 1em;
      height: 30em;
    } */
  }

@media screen and (min-width: 1024px)

  {
    /* .main-header { 
      padding-top: 120px;
      height: 850px;
    } */
  }