// Colors
$white: #fff;
$color-primary: rgb(6, 6, 95);
$color-primary-light: lighten($color-primary, 20%);
$color-bg: #f8f8ff;
$color-bg-dark: darken($color-bg, 15%);
$color-hover: rgb(196, 183, 255);
$color-accent: rgb(255, 181, 44);
$color-text: #424141;
$complement: complement($color-primary);

// Fonts
$font-stack-primary: 'Roboto', sans-serif;
$font-stack-secondary: 'Open Sans', sans-serif;
$font-stack-headline: 'Permanent Marker', cursive;
$font-stack-cursive: 'Cedarville Cursive', cursive;

// Images
$bg-height: 16em;
$image-placement: no-repeat center/cover;
$bg-lg-height: 25em;

//Sass Maps
$breakpoints: (
  'xs': 575px,
  'sm': 576px,
  'med': 768px,
  'lg': 992px,  
  );