.main-footer {
  border-top: 2px solid rgba(0,0,0,.4);
  display: flex;
  justify-content: space-around;
  background: rgb(6, 6, 95);
}

.main-footer p,
.main-footer a {
  font-size: .9rem;
  font-weight: 600;
  color: #fff;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0,0,0,.4);
}

.indy-flex-1,
.indy-flex-2 {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-bottom: 1em;
}

.indy-flex-1 p {
text-align: left;
font-size: .8em;
}

.indy-flex-2 p {
  text-align: right;
  font-size: .8em;
}