main {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
}

.tips {
  text-align: left;
  margin: 2em auto 0;
  @include mq(med) {
    width: 80%;
  }
  @include mq(lg) {
    width: 60%;
  }
}

.sports {
  @include flexy($wrap: wrap);
  margin-bottom: 1em;
  img {
    width: ems(100);
  }
  a {
    display: inline-block;
    padding: ems(10);
    color: $color-text;
    border-radius: ems(5);
    transition: background ease-in-out .3s, color ease-in-out .3s, 
                transform ease-in-out .3s;
    &:hover {
      background: $complement;
      color: $white;
      border-radius: ems(5);
      transform: skewX(-5deg);
    }
  }
  & > div {
    width: 50%;
    margin-bottom: 1em;
    @include mq(med) {
      width: 33.33%;
    }
    @include mq(lg) {
      width: 16.66%;
    }
  }
}





