main {
  margin: 0 auto;
  width: 90%;
  @include mq(lg) {
    max-width: 1000px;
  }
}

.events {
  border-bottom: 1px solid rgba(0,0,0,.4);
  padding-bottom: 1.625em;
}

.lovely {
  width: 75%;
  margin: 0 auto;
  @include flexy($just: space-around, $align: center);
}

.love {
  display: block;
  transform: skewY(-5deg);
  font-family: $font-stack-cursive;
  font-size: 1.625rem;
  margin-top: 1.625em;
  margin-bottom: 1.625em;
}

.heart {
  @include mq(med)
{ background-color: red;
  display: inline-block;
  height: 30px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
} 
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}

.heart:before {
  top: -15px;
  left: 0;
}

.heart:after {
  left: 15px;
  top: 0;
}

.primary,
.tertiary {
  @include mq(med) {
  float: left;
  width: 45%;
  }
  @include mq(lg) {
    @include flexy($align: center);
    float: none;
    width: 100%;
  }
}
.secondary,
.quaternary {
  @include mq(med) {
  float: right;
  width: 45%;
  }
  @include mq(lg) {
    @include flexy;
    float: none;
    width: 100%;
  }
}

.learn {
  @include mq(lg) {
  @include flexy($dir: column, $just: center);
  }
}




