.banner {
  height: $bg-height;
  background: linear-gradient(rgb(39, 161, 202), rgb(12, 12, 187)),
  url('../images/city.jpg') $image-placement;
  background-blend-mode: soft-light;
}

.mlk {
  height: $bg-height;
  background: green url('../images/mlk.jpg') $image-placement;
  background-blend-mode: screen;
}

.racetrack {
  height: $bg-height;
  background: linear-gradient(rgb(255, 255, 104), orange), url('../images/indy-500.jpg') $image-placement;
  background-blend-mode: saturation;
}

.hotels {
  height: $bg-height;
  background: 
    linear-gradient(cyan, transparent),
    linear-gradient(225deg, magenta, transparent),
    linear-gradient(45deg, red, transparent),
    url('../images/skyline.jpg') $image-placement;
}

.brochure {
  height: $bg-height;
  background: repeating-linear-gradient(45deg, lightgrey 20px, blue 30px, darkblue 40px), 
  url('../images/colts.jpg') $image-placement;
  background-blend-mode: screen;
}

@media screen and (min-width: 768px) 

  {
    .banner,
    .racetrack,
    .mlk,
    .brochure,
    .hotels {
      height: 19em;
    }
  }