
.banner {
  height: $bg-height;
  background: linear-gradient(rgb(39, 161, 202), rgb(12, 12, 187)),
  url('../images/city.jpg') $image-placement;
  background-blend-mode: soft-light;
  @include mq(lg) {
    height: $bg-lg-height;
  }
}

.racetrack {
  height: $bg-height;
  background: url('../images/parks.jpg') $image-placement;
  @include mq(lg) {
    height: $bg-lg-height;
  }
}

.mlk {
  height: $bg-height;
  background: linear-gradient(#ff4500, transparent 90%), 
              linear-gradient(to right, $white, transparent),
              orange url('../images/indy-500.jpg') $image-placement;
  @include mq(lg) {
    height: $bg-lg-height;
  }
}

.hotels {
  height: $bg-height;
  background: 
    linear-gradient(cyan, transparent),
    linear-gradient(225deg, magenta, transparent),
    linear-gradient(45deg, red, transparent),
    url('../images/skyline.jpg') $image-placement;
    @include mq(lg) {
      height: $bg-lg-height;
    }
}

.brochure {
  height: $bg-height;
  background: green url('../images/bridge.jpg') $image-placement;
  background-blend-mode: lighten;
  @include mq(lg) {
    height: $bg-lg-height;
  }
}

