.love {
  display: inline-block;
  position: relative;
  transform: skewY(-5deg);
  font-family: $font-stack-cursive;
  font-size: 1.625rem;
  margin: 1.625em;
}

.love::before,
.love::after {
  content: "";
  background-color: $complement;
  height: 15px;
  width: 15px;
  position: absolute;
  border-radius: 50%;
  margin: 1em;
}

.love::before {
  top: ems(-15);
  left: ems(-30);
}

.love::after {
  top: ems(-3);
  right: ems(-32);
}

