/* Form Styles */

.forms {
  @include flexy($dir: column);
}

fieldset {
  border: none;
  text-align: left;
}

/* Table Styles */

caption {
  font-size: 1.3125rem;
  font-weight: 600;
  padding: 1em;
}

table {
  max-width: 60em;
  margin: 0 auto;
}

thead > tr {
  background: rgb(124, 206, 209);
}

th[scope="col"] {
  font-size: 1.125em;
}

th {
  font-size: .9em;
  padding: .3125em;
} 

td[colspan="3"] {
  font-style: italic;
}

tr {
  height: 3em;
  background: rgb(223, 222, 222);
  & > td {
    font-size: .8em;
    padding: .3125em;
  }
}

tr:nth-child(2n+2) {
  background: lightblue;
}