/* Form Styles */

form {
  background: #b4ffff;
  margin-top: .625em;
  border-radius: .625em;
}

fieldset {
  border: none;
  text-align: left;
}

.forms {
  @include flexy($dir: column);
}

.text-area {
  display: block;
  padding-bottom: .625em;
}
