img {
  width: 100%;
  .events & {
    @include mq(lg) {
      width: 80%;
      margin-left: 0;
    }
  }
  &[src^="../images/colts.jpg"] {
    width: 75%;
    float: right;
    margin-left: ems(10);
    @include mq(med) {
      width: 50%;
      margin-left: 1em;
    }
  }
  &[src*="gallery"] {
    margin-bottom: 1em;
  }
  &[src^="../images/svg-images"] {
    transition: all .4s; 
    &:hover {
      transform: scale(1.3) rotate(360deg);
    }
  }
}

.rfk {
  position: absolute;
  background: $complement;
  color: $white;
  height: 2em;
  bottom: .4em;
  width: 100%;
  padding: .3em;
  font-size: .7rem;
  border-radius: 0 0 ems(5) ems(5);
  @include mq(med) {
    padding-top: .625em;
    height: 2.5em;
    bottom: .125em;
    font-size: .9rem;
  }
}

.park-picture {
  position: relative;
}



@media screen and (min-width: 768px) {

  img[src$="1.jpg"],
  img[src$="2.jpg"],
  img[src$="3.jpg"],
  img[src$="4.jpg"],
  img[src$="5.jpg"],
  img[src$="6.jpg"] {
    float: left;
    width: 45%;
    margin-left: 3.5%;
  }

}