.main-nav {
  @include flexy($just: space-around);
  background-color: $color-primary;
  position: fixed;
  padding: 0;
  margin-top: 0;
  width: 100%;
  z-index: 1000;
  a {
    display: block;
    transition: transform .2s ease-out, color .2s ease-out;
    font-size: .9rem;
    font-family: $font-stack-secondary;
    font-weight: 600;
    @include mq(lg) {
      font-size: 1em;
    }
    &:hover {
      border: none;
      transform: scale(1.5);
      font-weight: 1000;
    }
  }
  li {
    color: $white;
    list-style: none;
    padding-top: .8em;
    padding-bottom: .8em;
    flex-grow: 1;
    &:first-child {
      display: none;
      color: $color-accent;
      font-size: .9rem;
      font-family: $font-stack-secondary;
      font-weight: 600;
      @include mq(lg) {
      font-size: 1em;
    }
    }
    @include mq(lg) {
      padding: 1em 0 1em 0;
    }
    @include mq(med) { 
      &:first-child {
      display: initial;
      }
    }
  }
}

.callout {
  background: $color-primary;
  font-weight: 600;
  letter-spacing: 1px;
  padding: .6125em;
  transition: background .5s ease-out, letter-spacing .5s ease-out;
  display: block;
  width: 80%;
  margin: 0 auto;
  border-radius: 0 .625em 0 .625em ;
  &:hover {
    background: $color-primary-light;
    letter-spacing: 3px;
  }
}

.activities-nav {
  @include flexy($wrap: wrap);
  list-style-type: none;
  text-align: center;
  padding-left: .625em;
  li {
    @include sports;
    &:first-child {
      background: radial-gradient( blue, rgb(255, 247, 247));
    }
    &:nth-child(2) {
      background: radial-gradient( gold, navy);
    }
    &:nth-of-type(3) {
      background: radial-gradient( rgb(230, 229, 229), black);
    }
    &:nth-last-of-type(3) {
      background: radial-gradient(red, gold, black);             
    }
    &:nth-child(5) {
      background: radial-gradient(rgb(255, 222, 222), red);
    }
    &:last-child {
      background: radial-gradient(red, navy);
    }
  }
}





