.main-nav {
  @include flexy($just: space-around);
  background-color: $color-primary;
  position: fixed;
  padding: 0;
  margin-top: 0;
  width: 100%;
  z-index: 1000;
  a {
    display: block;
    transition: transform .2s ease-out, color .2s ease-out;
    font-size: .9rem;
    font-family: $font-stack-secondary;
    font-weight: 600;
    @include mq(lg) {
      font-size: 1em;
    }
    &:hover {
      border: none;
      transform: scale(1.5);
      font-weight: 1000;
    }
  }
  li {
    color: $white;
    list-style: none;
    padding-top: .8em;
    padding-bottom: .8em;
    // flex-grow: 1;
    &:first-child {
      display: none;
      color: $color-accent;
      font-size: .9rem;
      font-family: $font-stack-secondary;
      font-weight: 600;
      @include mq(lg) {
      font-size: 1em;
    }
    }
    @include mq(med) {
      padding: 1em;
    }
    @include mq(med) { 
      &:first-child {
      display: initial;
      margin-right: auto;
      }
    }
  }
}

.callout {
  background: $color-primary;
  font-weight: 600;
  letter-spacing: 1px;
  padding: .6125em;
  transition: background .5s ease-out, letter-spacing .5s ease-out;
  display: block;
  width: 80%;
  margin: 0 auto;
  border-radius: 0 .625em 0 .625em ;
  &:hover {
    background: $color-primary-light;
    letter-spacing: 3px;
  }
}






