* {
  box-sizing: border-box;
}

body {
  color: $color-text;
  background: $color-bg;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

main {
  margin: 0 auto;
  width: 90%;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  padding: 3em 1em 0 1em;
  margin-top: 0;
  color: $white;
  text-shadow: 1px 3px 1px rgba(0,0,0,.4);
}

h2 {
  font-size: 1.3125rem;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

a {
  &:hover {
    color: $color-shade;
  }
  &:link {
    text-decoration: none;
  }
  &:active {
    color: rgb(152, 236, 131);
  }
}

